# Mac OS X files
.DS_Store

# IDE files
.idea/
.vscode/*
.history/
*.vsix
.ionide

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
examples/webapp/webapp
examples/ginwebapp/ginwebapp

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.html

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Dependency directories
vendor/

local_test.go

# Go workspace file
go.work

.test/

THIRD_PARTY_LICENSE

__debug_bin
*.crt
*.key
*.pem