name: CI

on: [pull_request]

jobs:
  build:
    name: Build and Setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Build
        uses: ./.github/actions/build

  lint:
    name: Lint and more checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Lint and more checks
        uses: ./.github/actions/lint

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
      checks: write
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Run Tests
        uses: ./.github/actions/tests
        with:
          min_coverage: 100
