name: CI

on: push

env:
  GO_VERSION: 1.18
  GOROOT: ""

jobs:
  build:
    name: Build and Setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Build
        uses: ./.github/actions/build
        with:
          go_version: ${{ env.GO_VERSION }}

  lint:
    name: Lint and more checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Lint and more checks
        uses: ./.github/actions/lint
        with:
          go_version: ${{ env.GO_VERSION }}

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run Tests
        uses: ./.github/actions/tests
        with:
          go_version: ${{ env.GO_VERSION }}
          min_coverage: 100
